footer {
   display: flex;
   width: $width1150;
   margin: 0 auto;
   padding-top: $paddingTop;
   .footer-logo {
      display: flex;
      align-items: flex-start;
      width: 40%;
      img {
         width: 25%;
         margin-top: 10px;
      }
      p {
         padding: 10px 30px 0 20px;
         line-height: 1.3;
         font-size: $fontFooter;
         font-weight: 600;
         a {
            color: $colorBtn;
            &:hover {
               text-decoration: underline;
            }
         }
      }
   }
   .col {
      display: flex;
      width: 60%;
      &-link {
         width: calc(100% / 5);
         padding: 8px;
         line-height: 2;
         p {
            margin-bottom: 5px;
            font-weight: 600;
            font-size: $fontFooter;
         }
         a {
            font-size: $fontLink;
            font-weight: 500;
            color: $colorFont;
            &:hover {
               color: $colorBtn;
            }
         }
      }
   }
}
