//jumbo
.jumbo {
   display: flex;
   width: $width1150;
   margin: calc(100px + #{$heightNav}) auto 100px;

   .text {
        width: 50%;   
        h1 {
            font-size: $fontTitle;
            color: $colorFont;
            line-height: 1.5;
            margin-bottom: 30px;
        }
        p {
           margin-bottom: 40px;
           font-size: $fontP;
           font-weight: 500;
           line-height: 1.8;
        }
        &-button {
            display: flex;
            margin-bottom: 20px;
            .btn {
               @include btn (6px 18px, $colorBtn,$colorBtn , $colorBtn);
               font-size: $fontLink;
               color: white;
               &:hover {
                   background-color: darken($colorBtn, $amount: 10);
               }
               svg {
                   margin-right: 5px;
               }
            }
            span {
                padding: 6px 30px;
                font-size: $fontLink;
                color: lighten($colorFont, $amount: 40);
            }
        }
        a {
            font-size: $fontLink;
            color: $colorFont;
            font-weight: 500;
            &:hover {
                color: $colorBtn;
            }
            svg {
                margin-left: 10px;
            }
        }
   }
   .img {
    width: 50%;
    margin-top: 20px;
    img {
        width: 100%;
    }
   }
}

.container-lead,
.container-solution,
.container-get {
    width: $width100;
    background-color: $colorBrand;
}

.lead {
    @include box;
    border-bottom: 1px solid $colorBorder;
}

.solution {
    @include box;
}

.feedback,
.reviews {
    @include textImg(450px, 0 0 0 20px);
}
.surveys,
.praise {
    margin-left: 18%;
    @include textImg (32%, 0 20px 0 0);
}

.get {
   display: flex;
   flex-direction: column;
   width: $width1150;
   padding-top: 20px;
   margin: 0 auto;
   .box {
       position: relative;
       padding: 20px;
       margin: auto;
       width: 628px;
       background-color: white;
       border: 1px solid $colorBorder;
       p {
           font-size: $fontP - 6px;
           padding: 10px 20px;
           font-weight: 500;
           line-height: 1.7;
       }
       .team {
           display: flex;
           margin: 7px 0 0 10px;
           .img-account img {
               width: 38px;
               margin-left: 10px;
           }
           .name {
               padding-left: 18px ;
               p.name-name {
                   padding: 0;
                   font-size: 14px;
                   color: $colorBtn;
               }
               p.name-team {
                   padding: 0;
                   font-size: 12px;
               }
           }
       }
       .comma {
           position: absolute;
           top: -20px;
           left: 0;
           width: 37px;
       }
    }
    .text-button {
        display: flex;
        justify-content: center;
        margin: 30px auto;
        .btn {
            @include btn (6px 18px, $colorBtn,$colorBtn , $colorBtn);
            font-size: $fontLink;
            color: white;
            &:hover {
                background-color: darken($colorBtn, $amount: 10);
            }
            svg {
                margin-right: 5px;
            }
        }
        span {
            padding: 6px 30px;
            font-size: $fontLink;
            color: lighten($colorFont, $amount: 40);
        }
    }
    a {
        text-align: center;
        font-size: $fontLink;
        color: $colorFont;
        font-weight: 500;
        &:hover {
            color: $colorBtn;
        }
        svg {
            margin-left: 10px;
        }
   }
}