//desktop
@media screen and (max-width: 1200px) {
    .nav,
    .jumbo,
    .lead,
    .solution,
    .get,
    footer {
        width: $widthTablet;
    }
}

//desktop
@media screen and (max-width: 1138px) {
    .jumbo {
        flex-direction: column;
        align-items: center;
        .text {
            width: 70%;
            text-align: center;
            &-button {
                justify-content: center;
            }
        }
    }
}

//ipad
@media screen and (max-width: 991px) {
    .feedback, 
    .surveys,
    .reviews,
    .praise {
        flex-direction: column;
        align-items: center;
        padding-top: 50px;
        .img {
            width: 100%;
            margin-bottom: 30px;
            order: 1;
        }
        .text {
            max-width: 95%;
            min-width: 65%;
            order: 2;
            h3, p, a {
                text-align: center;
            }
            img {
                position: relative;
                left: 50%; 
                transform: translateX(-50%);
                margin: 50px 0;
            }
        }
    }
    .surveys,
    .praise {
        margin-left: 0;
    }
    footer {
        flex-wrap: wrap;
        justify-content: center;
        padding-top: 40px;
        padding-left: 20px;
        .footer-logo {
            width: 100%;
            flex-wrap: wrap;
            margin-bottom: 10px;
            img {
                width: 50px
            }
            p {
                width: 780px;
            }
        }
        .col {
            width: 100%;
            flex-wrap: wrap;
            &-link {
                width: calc(100% / 2);
                margin-top: 20px;
            }
        }
    }
}

//ipad
@media screen and (max-width: 912px) {
    footer .footer-logo p {
        padding: 20px 0;
    }
}

//ipad
@media screen and (max-width: 767px) {
    .nav .menu ul.menu-nav {
        display:none;
    }
    .nav .menu svg.hamburger {
        display: block;     
    }
    .jumbo .text p {
        font-size: 18px;
    }
    .lead,
    .solution {
        h3.title-h3 {
            padding: 60px 5px;
        }
        .images .box1 {
            width: 80%;
            p {
                width: 50%;
            }
        }
    }
    h2 {
        font-size: $fontTitle - 18px;
    }
    .get {
        .box {
            width: 90%;
        }
        .text-button {
            width: 90%;
            .btn {
                @include btn (6px, $colorBtn,$colorBtn , $colorBtn);
            }
            span {
                padding: 6px 10px;
            }
        }
    }
}

//smartphone
@media screen and (max-width: 479px) {
    .get .text-button {
        flex-wrap: wrap;
        a {
            width: 100%;
            .btn {
                width: 100%;
                justify-content: center;
            }
        }
        span {
            width: 100%;
            text-align: center;
        }
    }
}

//smartphone
@media screen and (max-width: 379px) {
    footer .col .col-link {
        width: 100%;
    }
}