//width height
$width1150: 75%;
$width100: 100%;
$widthTablet: 95%;
$heightNav: 75px;

//color
$colorBrand: rgb(255,231,210);
$colorFont: #58402b;
$colorBtn: rgb(48,72,143);

//font
$heightProv: 300px;
$fontLink: 13px;
$fontTitle: 50px;
$fontP: 22px;


